<%= form_with(
  model:  @main_table, 
  url:    @main_table.persisted? ? "#{@main_url}/#{@main_table.id}" : @main_url,
  method: @main_table.persisted? ? :patch : :post, 
  local:  false, 
  html: { id: 'main_form',
          autocomplete: 'off', 
          data: { parsley_validate: true }
        }
  ) do |form| %>

  <% if @main_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', count: @main_table.errors.count) %></h2>
      <ul>
        <% @main_table.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= dynamic_translation('name') %>
    <%= form.text_field :name, required: true, data: { parsley_required: "true", parsley_minlength: "3" }, class: "form-control", placeholder: "#{t('standard.input_required')} #{t("#{controller_name}.name")}" %>
  </div>

  <div class="field mt-3">
    <%= dynamic_translation('image') %>
    <%= form.file_field :image, class: "form-control", accept: "image/jpeg, image/jpg, image/png" %>
  </div>

  <% if @main_table.persisted? %>
  <div class="form-check form-switch form-switch-custom form-switch-success form-check-inline mt-3">
    <%= form.check_box :active, class: "form-check-input" %>
    <label class="form-check-label"><%= dynamic_translation('active') %></label>
  </div>
  <% end %> 
  
<% end %>