<div class="field">
  <%= dynamic_translation('name') %>
  <input class="form-control" disabled value="<%= @main_table.name %>" >
</div>

<div class="field mt-3">
  <%= dynamic_translation('description') %>
  <input class="form-control" disabled value="<%= @main_table.description %>" >
</div>

<div class="field mt-3">
  <%= dynamic_translation('active') %>
  <input class="form-control" disabled value="<%= @main_table.active_status_text %>" >
</div>

<div class="field mt-3">
  <%= dynamic_translation('accesses') %>
  <% @main_table.accesses.group_by(&:resource_name).each do |resource_name, accesses| %>
    <div class="border p-2 mb-2">
      <h5><%= resource_name %></h5>
      <div class="row">
        <% accesses.each_slice(4) do |access_group| %>
          <div class="row mb-2">
            <% access_group.each do |access| %>
              <div class="col-md-3">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" disabled checked>
                  <label class="form-check-label"><%= access.action_name %></label>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>