<div class="field">
  <%= dynamic_translation('name') %>
  <input class="form-control" disabled value="<%= @main_table.name %>" >
</div>
 
<div class="field mt-3">
  <%= dynamic_translation('image') %>
  <% if @main_table.image.present? %>
    <%= image_tag @main_table.image_url, class: "img-fluid" %>
  <% else %>
    <p><%= t('standard.not_found') %></p>
  <% end %>  
</div> 

<div class="field mt-3">
  <%= dynamic_translation('active') %>
  <input class="form-control" disabled value="<%= @main_table.active_status_text %>" >
</div>